
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

 <p>
  <strong>tags:</strong>
  <%= @article.tags %>
 </p>
 <p>Author<td>
 <%= link_to @author.name, @author %>  
 </p>
<p>
  <strong>Text:</strong>
  <%= @article.body %>
</p>

<<<<<<< HEAD
<p>
   <%= 喜欢, User.find(comment.user_id) %>
</p>
=======

>>>>>>> ca23191c70c3aaaf13aaaeaeb411054324cd9352

<%= form_for :comment, url: comments_path(:article=>@article.id) do |f| %>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<table>
  <% @comments.each do |comment| %>
    <tr>
    <td><%= link_to User.find(comment.user_id).name, User.find(comment.user_id) %></td>
      <td><%= comment.body %> <%= link_to '点赞', new_like_path(:comment_id=>comment.id,:article_id=>@article.id) %></td>
    </tr>
  <% end %>
</table>