<!DOCTYPE html>
<html>
<head>
  <title>程序之道</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
顶部栏   待写 
  <% if current_user %>
    <%= link_to('发帖', new_article_path) %> |
    <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
    <%= link_to('修改密码', edit_registration_path(:user)) %>
  <% else %>
    <%= link_to('注册', new_registration_path(:user)) %> |
    <%= link_to('登录', new_session_path(:user)) %>
  <% end %>
</header>
<body>

<%= yield %>

</body>
<footer>
页脚  待写
</footer
</html>
